* {
  padding: 0;
  margin: 0;
  --darkgreen: #164a41;
  --MediumGreen: #4d774e;
  --LightGreen: #9dc88d;
  --NaturalYellow: #f1b24a;
  --White: #ffffff;
}

.header {
  background-color: var(--darkgreen);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px;
  color: white;
}

.header img {
  filter: invert(1);
}

.globalcontainer {
  background-color: var(--MediumGreen);
  margin: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.global-items {
  display: flex;
  flex-direction: row;
  background-color: pink;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px;
}
.global-title {
  display: flex;
  font-size: x-large;
  height: 50px;
}

.global-title p {
  margin: auto;
}

.items {
  background-color: var(--LightGreen);
  width: 320px;
  height: 220px;
  flex-wrap: wrap;
  margin: 12px;
}
